<div class="courses courses--alt">
  <a class="courses__out" href="https://ultimateangular.com/courses/?utm_source=toddmotto.com" target="_blank">
    <img class="courses__logo" src="{{ site.baseurl }}/img/ua.svg" alt="">
    <button type="button">
      Explore courses
    </button>
    <h3>
      Strengthen your Angular knowledge
    </h3>
    <p>
      <img class="courses__award" src="{{ site.baseurl }}/img/icons/award.svg" alt="">
      Learn step by step with me to fully master what Angular has to offer
    </p>
  </a>
</div>
