<div class="courses courses--{{ include.position }}">
  <a class="courses__out" href="https://ultimateangular.com/courses/?utm_source=toddmotto.com" target="_blank">
    <img class="courses__logo" src="{{ site.baseurl }}/img/ua.svg" alt="">
    <button type="button">
      See courses
    </button>
    <h3>
      New course! Launching this week. Angular Pro.
    </h3>
    <p>
      <!--<img class="courses__award" src="{{ site.baseurl }}/img/icons/award.svg" alt="">-->
      Over 10 hours, 120 videos of Angular v4+ content, including a real-world project build.
    </p>
  </a>
</div>
