<div class="courses courses--{{ include.position }}">
  <a class="courses__out" href="https://ultimateangular.com/courses/?utm_source=toddmotto.com" target="_blank">
    <img class="courses__logo" src="{{ site.baseurl }}/img/ua.svg" alt="">
    <button type="button">
      Let's go!
    </button>
    <h3>
      Angular Pro is here! My latest, advanced, Angular course.
    </h3>
    <p>
      Tired of wrestling incomplete documentation, old videos and tutorials?
    </p>
    <p>
      Join me over at Ultimate Angular to learn everything you'll need to have confidence in your work.
    </p>
  </a>
</div>
