<div class="courses courses--{{ include.position }}">
  <a class="courses__out" href="https://ultimateangular.com/?utm_source=toddmotto.com" target="_blank">
    <img class="courses__logo" src="{{ site.baseurl }}/img/ua.svg" alt="">
    <button type="button">
      Explore courses
    </button>
    <h3>
      Master Angular with my online courses
    </h3>
    <p>
      <img class="courses__award" src="{{ site.baseurl }}/img/icons/award.svg" alt="">
      Award winning courses trusted by thousands, there's no better place to learn
    </p>
  </a>
</div>
