.post-card {
  background: #fff;
  border: 1px solid #d9e1ef;
  flex: 0 0 33.33%;
  margin: -1px 0 0;
  overflow: hidden;
  position: relative;
  padding: 35px;
  &:nth-child(1n) {
    border-right: 0;
  }
  &-edit {
    color: #8598b9 !important;
  }
  &__container {
    margin: 20px 0 0;
    display: flex;
  }
  &__meta {
    font-size: 14px;
    height: 32px;
    color: #8598b9;
    position: relative;
    padding: 0 0 0 40px;
    margin: 5px 20px 5px 0;
    display: flex;
    align-items: center;
  }
  &__tag {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #e6edfb;
  }
  a {
    display: block;
    color: #545e6f;
  }
  p {
    margin: 0;
  }
  &__title {
    font-size: 22px;
    line-height: 22px;
    margin: 30px 0;
  }
}

/*
 * NAV
 */
.nav {
  font-family: 'tt-medium';
  &__link {
    position: relative;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    display: block;
    padding: 12px 30px;
    font-size: 16px;
    transition: all .2s ease;
    background: #3a4250;
    &--active {
      background: darken(#3a4250, 4%);
    }
    img {
      margin: 0 10px 0 0;
    }
    &:hover {
      color: #fff;
      background: darken(#3a4250, 2%);
    }
  }
}

.signup-form {
  flex: 0 0 33.33%;
  margin: -1px 0 0;
  overflow: hidden;
  position: relative;
  padding: 35px;
  background: #51b46d;
  color: #fff;
  &__title {
    margin: 0;
    font-size: 22px;
  }
  &__sub {
    font-size: 18px;
    color: #fff !important;
  }
  form {
    position: relative;
    width: 100%;
    input.email {
      -webkit-appearance: none;
      background: rgba(0,0,0,0.1);
      outline: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      margin: 0;
      border: 0;
      color: #fff;
      height: 55px;
      font-size: 16px;
      border-radius: 4px;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0 135px 0 15px;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }
    button {
      position: absolute;
      top: 8px;
      right: 8px;
      bottom: 8px;
      border: 0;
      outline: 0;
      max-width: 200px;
      margin-left: -1px;
      height: 40px;
      cursor: pointer;
      padding: 0 25px;
      background: #fff;
      border-radius: 3px;
      img {
        position: absolute;
        top: 8px;
        right: 15px;
      }
    }
  }
  &--condensed {
    margin: 0 0 25px 0;
    border-radius: 4px;
    input.email {
      width: 100%;
      height: 50px !important;
      padding: 0 15px !important;
      position: static !important;
    }
    button {
      margin: 10px 0 0;
      width: 100%;
      height: 50px !important;
      position: static !important;
    }
  }
}

.bio {

}