<div class="featured">
  <p class="featured__latest">latest course</p>
  <p class="featured__name">
    Angular Fundamentals
  </p>
  <a href="//ultimateangular.com/angular-fundamentals" target="_blank">
    <img src="{{ site.baseurl }}/img/icons/player.svg" alt="Angular Fundamentals online course">
  </a>
  <span class="featured__text">
    Learn Angular at your own pace online with me and my award-winning courses.
  </span>
  <a href="//ultimateangular.com/angular-fundamentals" target="_blank" class="featured__btn">
    Free preview
  </a>
</div>