<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="content">
      <form class="search">
        <input type="text" placeholder="Search (beta)...">
        <ul></ul>
      </form>
      <div class="card">
        <div class="courses">
          <a class="courses__out" href="https://ultimateangular.com?utm_source=toddmotto.com" target="_blank">
            <div class="courses__a1"></div>
            <div class="courses__a2"></div>
            <img class="courses__logo" src="{{ site.baseurl }}/img/courses-logo.png" alt="">
            <h3>
              Master Angular 1.x and Angular 2 with me online
            </h3>
            <p>
              Limited Angular 2 preorders now available.<br>Master the latest Angular 1.5 components, or preorder the most in-depth Angular 2 courses.
            </p>
            <button type="button">
              See the courses
            </button>
          </a>
        </div>
        <div class="card__content">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </main>
  </body>
</html>
